* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header, .content, .footer {
  display: flex;
  width: 100%;
}

.header {
  height: 70px; 
  background-color: #f4f4f4; 
}

.header .left {
  flex: 1; 
  background-color: #98FB98; 
}

.header .center {
  flex: 1; 
  background-color: #87CEEB; 
}

.header .right {
  flex: 1; 
  background-color: #FFB6C1; 
}

.content {
  height: 300px;
}

.content .left {
  flex: 1; 
  background-color: #98FB98; 
}

.content .center {
  flex: 1; 
  background-color: #fdfd00; 
}

.content .right {
  flex: 1; 
  background-color: #FFB6C1; 
}

.footer {
  height: 70px; 
  justify-content: flex-end;
}

.footer .right {
  flex: 1; 
  max-width: 33.33%; 
  background-color: #FFB6C1; 
}
