* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

.column {
  float: left;
  text-align: center;
}

.header {
  height: 70px; 
  background-color: #f4f4f4; 
}

.header .left {
  width: 33.33%;
  background-color: #98FB98; 
  height: 100%; 
}

.header .center {
  width: 33.33%;
  background-color: #87CEEB; 
  height: 100%; 
}

.header .right {
  width: 33.33%;
  background-color: #87CEEB; 
  height: 100%; 
}

.content .left {
  width: 33.33%;
  background-color: #98FB98; 
  height: 300px;
}

.content .center {
  width: 33.33%;
  background-color: #f3f308; 
  height: 300px;
}

.content .right {
  width: 33.33%;
  background-color: #FFB6C1; 
  height: 300px;
}

.footer {
  height: 70px;
  background-color: #FFDAB9; 
}

.footer .right {
  width: 33.33%;
  background-color: #FFB6C1; 
  height: 100%; 
  float: right;
}
.footer .center{
  text-align: right;
  width: 33.33%;
}
